@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro.woff2') format('woff2'),
       url('/fonts/GothamPro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro-Bold.woff2') format('woff2'),
       url('/fonts/GothamPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #f8f9fa;
}

.login-page {
  height: 100vh;
  background-color: #009640;
  padding-top: 15vh;
}

.main-title {
  font-size: clamp(1.2rem, 2vw, 2rem);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.main-description {
  font-size: clamp(0.8rem, 1.2vw, 0.9rem);
  max-width: 600px;
  margin: 0 auto;
}

.select-step-btn-wrapper {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
